.hero-background {
    background-image: url('assets/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.active {
    color: #7689d5; /* Example styling for active link */
    font-weight: bold;
  }
  